<div class="site-footer gt-c-content-color-first">
    <div class="footer-main">
        <!-- 文件位置：layout/_includes/footer.ejs -->
        <span style="text-align: right; float: right;">Theme <a 
            href="https://github.com/renbaoshuo/hexo-theme-pure" target="_blank">Pure</a> + <a 
            href="https://hexo.io" target="_blank">Hexo</a>
        | <a href="/assets/images/zuko2.png" target="_blank">Click Here for Zuko!</a> </span>
        <span style="text-align: left;"><%- theme.footer %></span>
    </div>
</div>
